body {
    font-family: "Ysabeau SC", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    background-color: #f1eacd;
}  




.encabezado {
    position: sticky;
    top: 0px;
    background-image: url(./img/fondo-encabezado.jpg) ;
} 



header img {
    width: 100px; 
    height: 100px; 
    margin: 10px; 
    display: inline-block; 
  vertical-align: middle;
  }
  
  header h1 {
    display: inline-block; 
    margin-left: 20px; 
  } 

img {
    max-width: 200px;
    height: auto;
    margin: auto;
    object-fit: contain;
    
  }
  
  .tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 100%;
    height: auto; 
    

    
  }

  
  .cajas {
    flex-basis: 23%;
    margin: 1%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(131, 97, 64, 0.449);
  }


.info-footer {
    padding: 20px;
    background-color: #d7af96;
    border: 1px solid #ddd;
    float: left;
    width: 48%;
  }
  
  .mapa {
    padding: 20px;
    background-color: #d7af96;
    border: 1px solid #ddd;
    float: right;
    width: 46.4%;
  }
  
  .copyright {
    padding: 10px;
    background-color: #765f4f;
    color: #fff;
    text-align: center;
    width: 100%;
    clear: both;
  } 
  .redes-sociales {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  
  
  
  